<div id="settings_plugin_android_connect_dialog" data-bind="allowBindings: true">
    <h2>{{ _('Execute command') }}</h2>

    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="settings-android_connect-shell">{{ _('Shell') }}</label>
            <div class="controls">
                <input type="text" class="input-block-level" data-bind="value: settings.plugins.android_connect.shell" id="settings-android_connect-shell">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="settings-android_connect-ssid">{{ _('SSID') }}</label>
            <div class="controls">
                <input type="text" class="input-block-level" data-bind="value: settings.plugins.android_connect.ssid" id="settings-android_connect-ssid">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="settings-android_connect-password">{{ _('Password') }}</label>
            <div class="controls">
                <input type="password" class="input-block-level" data-bind="value: settings.plugins.android_connect.password" id="settings-android_connect-password">
            </div>
        </div>
    </form>

    <button class="btn" data-bind="click: function() { execConfiguration() }"><i class="icon-spinner icon-spin" data-bind="visible: execActive()"></i> {{ _('Send exec notification') }}</button> <span data-bind="visible: execResult() && execSuccessful()">{{ _('Sent successfully') }}</span><span data-bind="visible: execResult() && !execSuccessful()">{{ _('Sending failed') }}: <span data-bind="text: execMessage"></span></span>

</div>